---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Join Mastodon March">
	<main class="px-4 md:px-0 m-auto text-slate-200 p-6 container max-w-prose">
		<h1 class="mt-4 text-7xl text-center leading-12 font-bold">Join<br/><span>Mastodon March</span></h1>
		<p class="mt-16 mb-0 text-8xl text-center">🦣&nbsp;🦣&nbsp;🦣</p>
		<p class="mt-12 text-center text-xl flex flex-col gap-4">
			<span>Give Mastodon a chance!</span>
			<span>One month</span>
			<span>No ragrets!</span>
			<span>March 2023.</span>
			<span class="text-4xl cursive">#mastodonmarch</span>
		</p>

		<div class="mt-16 bg-gray-900 rounded-md p-8 flex flex-col gap-6 text-center drop-shadow-md">
			<p>
				If you've used Mastodon a couple of times but always felt like
				something is missing, that something might as well be people like you and me!
				For a bit longer than a day or two :)
			</p>

			<p>
				With the rest of the social networks focused on making profit and establishing market dominance
				Mastodon feels like a natural alternative and hedge for the future. Its decentralized model seems to be a
				closer representation of real-life independent and small communities grown around a specific
				topic or theme where content and substance beat money and power.
			</p>

			<p>
				I'll commit to a full month of Mastodon usage in March of 2023. and would love to be accompanied
				by other people joining the initiative. If nothing else you can consider it as a detox month from
				what the rest of the social networks have become.
			</p>

			<p class="my-10 text-center font-light text-2xl cursive max-w-sm m-auto leading-9">
				See you on Mastodon during the month of March and onwards!
			</p>
		</div>

		<div class="mt-14 text-slate-500 text-center">
			<h6>Disclaimer</h6>
			<p>
				I'm in no way related to Mastodon or people building it, nor am I building/planing to build anything related to Mastodon.
			</p>

			<a target="_blank" class="block w-full p-2 my-4 underline" href="https://github.com/apisurfer/mastodonmarch.com">Website source on Github</a>
		</div>

	</main>
</Layout>

<style>
	.cursive {
		font-family: 'Dancing Script', cursive;
	}
</style>